<h1>Employee List</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.employeeID}}</td>
        <td><a [routerLink]="['/employeetimesheet',item.employeeID]">{{item.code}}</a></td>
        <td>{{item.name}}</td>
        <td>{{item.totalEffort}}</td>
        <td>{{item.averageEffort}}</td>
    </tr>
</table>