<h1>Employee Timesheet</h1>
<div>
  <span class="lable">Current Date: </span> {{currentDateString}}
</div>
<div>
  <span class="lable">Select Employee:</span>
  <select class='form-control' [(ngModel)]="id" (ngModelChange)="onEmployeeChange($event)">
    <option *ngFor="let item of employees" [value]="item.employeeID">
      {{item.name}}
    </option>
  </select>
</div>
<div class="center">
  <button (click)="onPreviousClick()">Previous</button>
  <span>Week ({{startDateString}} - {{endDateString}})</span>
  <button (click)="onNextClick()">Next</button>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 30%;">Task Name</th>
        <th style="width: 10%;">Sunday</th>
        <th style="width: 10%;">Monday</th>
        <th style="width: 10%;">Tuesday</th>
        <th style="width: 10%;">Wednesday</th>
        <th style="width: 10%;">Thursday</th>
        <th style="width: 10%;">Friday</th>
        <th style="width: 10%;">Saturday</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ets of employeeTaskSheet">
        <td>{{ets.taskName}}</td>
        <td>{{ets.sunday}}</td>
        <td>{{ets.monday}}</td>
        <td>{{ets.tuesday}}</td>
        <td>{{ets.wednesday}}</td>
        <td>{{ets.thursday}}</td>
        <td>{{ets.friday}}</td>
        <td>{{ets.saturday}}</td>
      </tr>
    </tbody>
    <tfoot style="font-weight: bold;">
        <tr>
            <td>Total</td>
            <td>{{totalSunday}}</td>
            <td>{{totalMonday}}</td>
            <td>{{totalTuesday}}</td>
            <td>{{totalWednesday}}</td>
            <td>{{totalThursday}}</td>
            <td>{{totalFriday}}</td>
            <td>{{totalSaturday}}</td>
          </tr>
    </tfoot>
  </table>
</div>
<div class="center">
  <button (click)="onBack()">Back to List</button>
  <button (click)="onSave()">Add Timesheet</button>
</div>