h1{
    color: grey
}
div{
    width: 100%;
    float: left;
    margin:5px 0;
}
.table {
    border-collapse: collapse;
    width: 100%;
    td, th{
        border: 1px solid #ddd;
        padding: 7px;
    }  
    tr:nth-child(even){background-color: #f2f2f2;}
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1c6ca5;
        color: white;
      }
      tr:hover {background-color: #ddd;}
  }
.lable{
    width: 130px;
    float: left;
}
.form-control{
    width: 150px;
    height: 30px;
    float: left;
}
button{
    width: auto;
    height: 30px;
    background-color: #1c6ca5;
    color: white;
    border:none;
    margin: 0 5px;
    padding: 0 15px;
}
button:hover{
    width: auto;
    height: 30px;
    background-color:darkblue;
    color: white;
    border:none;
    cursor: pointer;
}
.center{
    text-align: center;
}