<h1>Add Timesheet</h1>
<div>
  <span class="lable">Task: </span>
  <select class='form-control' [(ngModel)]="taskID">
    <option *ngFor="let item of tasks" [value]="item.id">
      {{item.name}}
    </option>
  </select>
</div>
<div>
  <span class="lable">Working Date: </span>
  <input type="date" [(ngModel)]="workingDate" class='form-control' />
</div>
<div>
  <span class="lable">Working Hours: </span>
  <input type="number" [(ngModel)]="workingHours" class='form-control' />
</div>
<div>
  <button (click)="onBack()">Back to Timesheet</button>
  <button (click)="onSave()">Save</button>
</div>